## Window Functions in PySpark

Apache Spark window functions let you perform **analytics across related rows** *without collapsing rows* (unlike `groupBy`). They’re essential for rankings, running totals, moving averages, and session-style analysis.

---

### What a Window Function Does

A window function computes a value for **each row** based on:

* **Partition** → how rows are grouped
* **Order** → how rows are sorted within each group
* **Frame** → which rows around the current row are considered



## 1) Define a Window Specification

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.appName("WindowApp").getOrCreate()

In [29]:
data = [
    # ---------- IT Department ----------
    (101, "Amit",   "IT",     60000, "2024-01-01"),
    (101, "Amit",   "IT",     62000, "2024-02-01"),
    (101, "Amit",   "IT",     61000, "2024-03-01"),  # salary decrease

    (102, "Ravi",   "IT",     65000, "2024-01-15"),
    (102, "Ravi",   "IT",     65000, "2024-02-15"),  # same salary (tie)
    (102, "Ravi",   "IT",     67000, "2024-03-15"),

    (103, "Sneha",  "IT",     65000, "2024-02-01"),  # joins late
    (103, "Sneha",  "IT",     None,  "2024-03-01"),  # NULL salary
    (103, "Sneha",  "IT",     68000, "2024-04-01"),

    # ---------- HR Department ----------
    (104, "Kiran",  "HR",     45000, "2024-01-01"),
    (104, "Kiran",  "HR",     46000, "2024-02-01"),

    (105, "Pooja",  "HR",     48000, "2024-01-01"),
    (105, "Pooja",  "HR",     48000, "2024-03-01"),  # missing Feb
    (105, "Pooja",  "HR",     50000, "2024-04-01"),

    (106, "Neha",   "HR",     48000, "2024-02-01"),  # single record

    # ---------- Sales Department ----------
    (107, "Arjun",  "Sales",  55000, "2024-01-01"),
    (107, "Arjun",  "Sales",  53000, "2024-02-01"),  # decrease
    (107, "Arjun",  "Sales",  56000, "2024-03-01"),

    (108, "Manoj",  "Sales",  52000, "2024-01-15"),
    (108, "Manoj",  "Sales",  52000, "2024-02-15"),  # tie
    (108, "Manoj",  "Sales",  52000, "2024-03-15"),  # repeated tie

    (109, "Divya",  "Sales",  58000, "2024-02-01"),  # joins mid
    (109, "Divya",  "Sales",  60000, "2024-03-01"),

    # ---------- Finance (single-row partition) ----------
    (110, "Rahul",  "Finance",70000, "2024-03-01")
]


company_schema = StructType([
    StructField("emp_id", IntegerType()),
    StructField("name", StringType()),
    StructField("department", StringType()),
    StructField("salary", IntegerType()),
    StructField("salary_date", StringType())

])

company_df = spark.createDataFrame(data, schema=company_schema)

company_df = company_df.withColumn("salary_date", to_date("salary_date")).sort("salary", ascending=False)

In [30]:
company_df.show()

+------+-----+----------+------+-----------+
|emp_id| name|department|salary|salary_date|
+------+-----+----------+------+-----------+
|   110|Rahul|   Finance| 70000| 2024-03-01|
|   103|Sneha|        IT| 68000| 2024-04-01|
|   102| Ravi|        IT| 67000| 2024-03-15|
|   102| Ravi|        IT| 65000| 2024-01-15|
|   102| Ravi|        IT| 65000| 2024-02-15|
|   103|Sneha|        IT| 65000| 2024-02-01|
|   101| Amit|        IT| 62000| 2024-02-01|
|   101| Amit|        IT| 61000| 2024-03-01|
|   109|Divya|     Sales| 60000| 2024-03-01|
|   101| Amit|        IT| 60000| 2024-01-01|
|   109|Divya|     Sales| 58000| 2024-02-01|
|   107|Arjun|     Sales| 56000| 2024-03-01|
|   107|Arjun|     Sales| 55000| 2024-01-01|
|   107|Arjun|     Sales| 53000| 2024-02-01|
|   108|Manoj|     Sales| 52000| 2024-01-15|
|   108|Manoj|     Sales| 52000| 2024-02-15|
|   108|Manoj|     Sales| 52000| 2024-03-15|
|   105|Pooja|        HR| 50000| 2024-04-01|
|   105|Pooja|        HR| 48000| 2024-01-01|
|   105|Pooja|        HR| 48000| 2024-03-01|
+------+-----+----------+------+-----------+
only showing top 20 rows

Optionally add a **frame**:

In [43]:
from pyspark.sql.window import Window

window_spec = Window.partitionBy("department").orderBy("salary")

---

## 2) Common Window Functions

### Ranking Functions

In [32]:
from pyspark.sql.functions import row_number,rank, dense_rank

company_df = company_df.withColumn("row_num", row_number().over(window=window_spec))
company_df.show()

+------+-----+----------+------+-----------+-------+
|emp_id| name|department|salary|salary_date|row_num|
+------+-----+----------+------+-----------+-------+
|   110|Rahul|   Finance| 70000| 2024-03-01|      1|
|   104|Kiran|        HR| 45000| 2024-01-01|      1|
|   104|Kiran|        HR| 46000| 2024-02-01|      2|
|   105|Pooja|        HR| 48000| 2024-01-01|      3|
|   105|Pooja|        HR| 48000| 2024-03-01|      4|
|   106| Neha|        HR| 48000| 2024-02-01|      5|
|   105|Pooja|        HR| 50000| 2024-04-01|      6|
|   103|Sneha|        IT|  NULL| 2024-03-01|      1|
|   101| Amit|        IT| 60000| 2024-01-01|      2|
|   101| Amit|        IT| 61000| 2024-03-01|      3|
|   101| Amit|        IT| 62000| 2024-02-01|      4|
|   102| Ravi|        IT| 65000| 2024-01-15|      5|
|   102| Ravi|        IT| 65000| 2024-02-15|      6|
|   103|Sneha|        IT| 65000| 2024-02-01|      7|
|   102| Ravi|        IT| 67000| 2024-03-15|      8|
|   103|Sneha|        IT| 68000| 2024-04-01|      9|
|   108|Manoj|     Sales| 52000| 2024-01-15|      1|
|   108|Manoj|     Sales| 52000| 2024-02-15|      2|
|   108|Manoj|     Sales| 52000| 2024-03-15|      3|
|   107|Arjun|     Sales| 53000| 2024-02-01|      4|
+------+-----+----------+------+-----------+-------+
only showing top 20 rows

In [33]:
company_df = company_df.withColumn("rank", rank().over(window=window_spec))
company_df.show()

+------+-----+----------+------+-----------+-------+----+
|emp_id| name|department|salary|salary_date|row_num|rank|
+------+-----+----------+------+-----------+-------+----+
|   110|Rahul|   Finance| 70000| 2024-03-01|      1|   1|
|   104|Kiran|        HR| 45000| 2024-01-01|      1|   1|
|   104|Kiran|        HR| 46000| 2024-02-01|      2|   2|
|   105|Pooja|        HR| 48000| 2024-01-01|      3|   3|
|   105|Pooja|        HR| 48000| 2024-03-01|      4|   3|
|   106| Neha|        HR| 48000| 2024-02-01|      5|   3|
|   105|Pooja|        HR| 50000| 2024-04-01|      6|   6|
|   103|Sneha|        IT|  NULL| 2024-03-01|      1|   1|
|   101| Amit|        IT| 60000| 2024-01-01|      2|   2|
|   101| Amit|        IT| 61000| 2024-03-01|      3|   3|
|   101| Amit|        IT| 62000| 2024-02-01|      4|   4|
|   102| Ravi|        IT| 65000| 2024-01-15|      5|   5|
|   102| Ravi|        IT| 65000| 2024-02-15|      6|   5|
|   103|Sneha|        IT| 65000| 2024-02-01|      7|   5|
|   102| Ravi|        IT| 67000| 2024-03-15|      8|   8|
|   103|Sneha|        IT| 68000| 2024-04-01|      9|   9|
|   108|Manoj|     Sales| 52000| 2024-01-15|      1|   1|
|   108|Manoj|     Sales| 52000| 2024-02-15|      2|   1|
|   108|Manoj|     Sales| 52000| 2024-03-15|      3|   1|
|   107|Arjun|     Sales| 53000| 2024-02-01|      4|   4|
+------+-----+----------+------+-----------+-------+----+
only showing top 20 rows

In [34]:
company_df = company_df.withColumn("dense_rank", dense_rank().over(window=window_spec))
company_df.show()

+------+-----+----------+------+-----------+-------+----+----------+
|emp_id| name|department|salary|salary_date|row_num|rank|dense_rank|
+------+-----+----------+------+-----------+-------+----+----------+
|   110|Rahul|   Finance| 70000| 2024-03-01|      1|   1|         1|
|   104|Kiran|        HR| 45000| 2024-01-01|      1|   1|         1|
|   104|Kiran|        HR| 46000| 2024-02-01|      2|   2|         2|
|   105|Pooja|        HR| 48000| 2024-01-01|      3|   3|         3|
|   105|Pooja|        HR| 48000| 2024-03-01|      4|   3|         3|
|   106| Neha|        HR| 48000| 2024-02-01|      5|   3|         3|
|   105|Pooja|        HR| 50000| 2024-04-01|      6|   6|         4|
|   103|Sneha|        IT|  NULL| 2024-03-01|      1|   1|         1|
|   101| Amit|        IT| 60000| 2024-01-01|      2|   2|         2|
|   101| Amit|        IT| 61000| 2024-03-01|      3|   3|         3|
|   101| Amit|        IT| 62000| 2024-02-01|      4|   4|         4|
|   102| Ravi|        IT| 65000| 2024-01-15|      5|   5|         5|
|   102| Ravi|        IT| 65000| 2024-02-15|      6|   5|         5|
|   103|Sneha|        IT| 65000| 2024-02-01|      7|   5|         5|
|   102| Ravi|        IT| 67000| 2024-03-15|      8|   8|         6|
|   103|Sneha|        IT| 68000| 2024-04-01|      9|   9|         7|
|   108|Manoj|     Sales| 52000| 2024-01-15|      1|   1|         1|
|   108|Manoj|     Sales| 52000| 2024-02-15|      2|   1|         1|
|   108|Manoj|     Sales| 52000| 2024-03-15|      3|   1|         1|
|   107|Arjun|     Sales| 53000| 2024-02-01|      4|   4|         2|
+------+-----+----------+------+-----------+-------+----+----------+
only showing top 20 rows

**Differences**

* `row_number()` → unique sequence (no ties)
* `rank()` → gaps after ties
* `dense_rank()` → no gaps

![Image](https://miro.medium.com/1%2AtuGFvhwk5rUtoQWcX4A6ng.gif)

![Image](https://media.licdn.com/dms/image/v2/D4D12AQFRS0AU_T_NQQ/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1654768699532?e=2147483647\&t=ONuIV9v8k99yhD5U52ocS8i3WOsKk_p_xlfjmGVVXEg\&v=beta)

---

### Aggregate Functions (Windowed)

In [35]:
company_df.show()

+------+-----+----------+------+-----------+-------+----+----------+
|emp_id| name|department|salary|salary_date|row_num|rank|dense_rank|
+------+-----+----------+------+-----------+-------+----+----------+
|   110|Rahul|   Finance| 70000| 2024-03-01|      1|   1|         1|
|   104|Kiran|        HR| 45000| 2024-01-01|      1|   1|         1|
|   104|Kiran|        HR| 46000| 2024-02-01|      2|   2|         2|
|   105|Pooja|        HR| 48000| 2024-01-01|      3|   3|         3|
|   105|Pooja|        HR| 48000| 2024-03-01|      4|   3|         3|
|   106| Neha|        HR| 48000| 2024-02-01|      5|   3|         3|
|   105|Pooja|        HR| 50000| 2024-04-01|      6|   6|         4|
|   103|Sneha|        IT|  NULL| 2024-03-01|      1|   1|         1|
|   101| Amit|        IT| 60000| 2024-01-01|      2|   2|         2|
|   101| Amit|        IT| 61000| 2024-03-01|      3|   3|         3|
|   101| Amit|        IT| 62000| 2024-02-01|      4|   4|         4|
|   102| Ravi|        IT| 65000| 2024-01-15|      5|   5|         5|
|   102| Ravi|        IT| 65000| 2024-02-15|      6|   5|         5|
|   103|Sneha|        IT| 65000| 2024-02-01|      7|   5|         5|
|   102| Ravi|        IT| 67000| 2024-03-15|      8|   8|         6|
|   103|Sneha|        IT| 68000| 2024-04-01|      9|   9|         7|
|   108|Manoj|     Sales| 52000| 2024-01-15|      1|   1|         1|
|   108|Manoj|     Sales| 52000| 2024-02-15|      2|   1|         1|
|   108|Manoj|     Sales| 52000| 2024-03-15|      3|   1|         1|
|   107|Arjun|     Sales| 53000| 2024-02-01|      4|   4|         2|
+------+-----+----------+------+-----------+-------+----+----------+
only showing top 20 rows

In [36]:
from pyspark.sql.functions import sum, avg, min, max

In [52]:
company_df.withColumn("avg_salary", avg("salary").over(Window.partitionBy("department").orderBy("salary_date"))).show()

+------+-----+----------+------+-----------+-------+----+----------+-----------------+
|emp_id| name|department|salary|salary_date|row_num|rank|dense_rank|       avg_salary|
+------+-----+----------+------+-----------+-------+----+----------+-----------------+
|   110|Rahul|   Finance| 70000| 2024-03-01|      1|   1|         1|          70000.0|
|   104|Kiran|        HR| 45000| 2024-01-01|      1|   1|         1|          46500.0|
|   105|Pooja|        HR| 48000| 2024-01-01|      3|   3|         3|          46500.0|
|   104|Kiran|        HR| 46000| 2024-02-01|      2|   2|         2|          46750.0|
|   106| Neha|        HR| 48000| 2024-02-01|      5|   3|         3|          46750.0|
|   105|Pooja|        HR| 48000| 2024-03-01|      4|   3|         3|          47000.0|
|   105|Pooja|        HR| 50000| 2024-04-01|      6|   6|         4|          47500.0|
|   101| Amit|        IT| 60000| 2024-01-01|      2|   2|         2|          60000.0|
|   102| Ravi|        IT| 65000| 2024-01-15|      5|   5|         5|          62500.0|
|   101| Amit|        IT| 62000| 2024-02-01|      4|   4|         4|          63000.0|
|   103|Sneha|        IT| 65000| 2024-02-01|      7|   5|         5|          63000.0|
|   102| Ravi|        IT| 65000| 2024-02-15|      6|   5|         5|          63400.0|
|   103|Sneha|        IT|  NULL| 2024-03-01|      1|   1|         1|          63000.0|
|   101| Amit|        IT| 61000| 2024-03-01|      3|   3|         3|          63000.0|
|   102| Ravi|        IT| 67000| 2024-03-15|      8|   8|         6|63571.42857142857|
|   103|Sneha|        IT| 68000| 2024-04-01|      9|   9|         7|          64125.0|
|   107|Arjun|     Sales| 55000| 2024-01-01|      5|   5|         3|          55000.0|
|   108|Manoj|     Sales| 52000| 2024-01-15|      1|   1|         1|          53500.0|
|   107|Arjun|     Sales| 53000| 2024-02-01|      4|   4|         2|          54500.0|
|   109|Divya|     Sales| 58000| 2024-02-01|      7|   7|         5|          54500.0|
+------+-----+----------+------+-----------+-------+----+----------+-----------------+
only showing top 20 rows

In [51]:
company_df.withColumn("sum_salary", sum("salary").over(Window.partitionBy("department").orderBy("salary_date"))).show()

+------+-----+----------+------+-----------+-------+----+----------+----------+
|emp_id| name|department|salary|salary_date|row_num|rank|dense_rank|sum_salary|
+------+-----+----------+------+-----------+-------+----+----------+----------+
|   110|Rahul|   Finance| 70000| 2024-03-01|      1|   1|         1|     70000|
|   104|Kiran|        HR| 45000| 2024-01-01|      1|   1|         1|     93000|
|   105|Pooja|        HR| 48000| 2024-01-01|      3|   3|         3|     93000|
|   104|Kiran|        HR| 46000| 2024-02-01|      2|   2|         2|    187000|
|   106| Neha|        HR| 48000| 2024-02-01|      5|   3|         3|    187000|
|   105|Pooja|        HR| 48000| 2024-03-01|      4|   3|         3|    235000|
|   105|Pooja|        HR| 50000| 2024-04-01|      6|   6|         4|    285000|
|   101| Amit|        IT| 60000| 2024-01-01|      2|   2|         2|     60000|
|   102| Ravi|        IT| 65000| 2024-01-15|      5|   5|         5|    125000|
|   101| Amit|        IT| 62000| 2024-02-01|      4|   4|         4|    252000|
|   103|Sneha|        IT| 65000| 2024-02-01|      7|   5|         5|    252000|
|   102| Ravi|        IT| 65000| 2024-02-15|      6|   5|         5|    317000|
|   103|Sneha|        IT|  NULL| 2024-03-01|      1|   1|         1|    378000|
|   101| Amit|        IT| 61000| 2024-03-01|      3|   3|         3|    378000|
|   102| Ravi|        IT| 67000| 2024-03-15|      8|   8|         6|    445000|
|   103|Sneha|        IT| 68000| 2024-04-01|      9|   9|         7|    513000|
|   107|Arjun|     Sales| 55000| 2024-01-01|      5|   5|         3|     55000|
|   108|Manoj|     Sales| 52000| 2024-01-15|      1|   1|         1|    107000|
|   107|Arjun|     Sales| 53000| 2024-02-01|      4|   4|         2|    218000|
|   109|Divya|     Sales| 58000| 2024-02-01|      7|   7|         5|    218000|
+------+-----+----------+------+-----------+-------+----+----------+----------+
only showing top 20 rows

In [49]:
company_df.withColumn("min_salary", min("salary").over(Window.partitionBy("department"))).show()

+------+-----+----------+------+-----------+-------+----+----------+----------+
|emp_id| name|department|salary|salary_date|row_num|rank|dense_rank|min_salary|
+------+-----+----------+------+-----------+-------+----+----------+----------+
|   110|Rahul|   Finance| 70000| 2024-03-01|      1|   1|         1|     70000|
|   104|Kiran|        HR| 45000| 2024-01-01|      1|   1|         1|     45000|
|   104|Kiran|        HR| 46000| 2024-02-01|      2|   2|         2|     45000|
|   105|Pooja|        HR| 48000| 2024-01-01|      3|   3|         3|     45000|
|   105|Pooja|        HR| 48000| 2024-03-01|      4|   3|         3|     45000|
|   106| Neha|        HR| 48000| 2024-02-01|      5|   3|         3|     45000|
|   105|Pooja|        HR| 50000| 2024-04-01|      6|   6|         4|     45000|
|   103|Sneha|        IT|  NULL| 2024-03-01|      1|   1|         1|     60000|
|   101| Amit|        IT| 60000| 2024-01-01|      2|   2|         2|     60000|
|   101| Amit|        IT| 61000| 2024-03-01|      3|   3|         3|     60000|
|   101| Amit|        IT| 62000| 2024-02-01|      4|   4|         4|     60000|
|   102| Ravi|        IT| 65000| 2024-01-15|      5|   5|         5|     60000|
|   102| Ravi|        IT| 65000| 2024-02-15|      6|   5|         5|     60000|
|   103|Sneha|        IT| 65000| 2024-02-01|      7|   5|         5|     60000|
|   102| Ravi|        IT| 67000| 2024-03-15|      8|   8|         6|     60000|
|   103|Sneha|        IT| 68000| 2024-04-01|      9|   9|         7|     60000|
|   108|Manoj|     Sales| 52000| 2024-01-15|      1|   1|         1|     52000|
|   108|Manoj|     Sales| 52000| 2024-02-15|      2|   1|         1|     52000|
|   108|Manoj|     Sales| 52000| 2024-03-15|      3|   1|         1|     52000|
|   107|Arjun|     Sales| 53000| 2024-02-01|      4|   4|         2|     52000|
+------+-----+----------+------+-----------+-------+----+----------+----------+
only showing top 20 rows

In [48]:
company_df.withColumn("max_salary", max("salary").over(Window.partitionBy("department"))).show()

+------+-----+----------+------+-----------+-------+----+----------+----------+
|emp_id| name|department|salary|salary_date|row_num|rank|dense_rank|max_salary|
+------+-----+----------+------+-----------+-------+----+----------+----------+
|   110|Rahul|   Finance| 70000| 2024-03-01|      1|   1|         1|     70000|
|   104|Kiran|        HR| 45000| 2024-01-01|      1|   1|         1|     50000|
|   104|Kiran|        HR| 46000| 2024-02-01|      2|   2|         2|     50000|
|   105|Pooja|        HR| 48000| 2024-01-01|      3|   3|         3|     50000|
|   105|Pooja|        HR| 48000| 2024-03-01|      4|   3|         3|     50000|
|   106| Neha|        HR| 48000| 2024-02-01|      5|   3|         3|     50000|
|   105|Pooja|        HR| 50000| 2024-04-01|      6|   6|         4|     50000|
|   103|Sneha|        IT|  NULL| 2024-03-01|      1|   1|         1|     68000|
|   101| Amit|        IT| 60000| 2024-01-01|      2|   2|         2|     68000|
|   101| Amit|        IT| 61000| 2024-03-01|      3|   3|         3|     68000|
|   101| Amit|        IT| 62000| 2024-02-01|      4|   4|         4|     68000|
|   102| Ravi|        IT| 65000| 2024-01-15|      5|   5|         5|     68000|
|   102| Ravi|        IT| 65000| 2024-02-15|      6|   5|         5|     68000|
|   103|Sneha|        IT| 65000| 2024-02-01|      7|   5|         5|     68000|
|   102| Ravi|        IT| 67000| 2024-03-15|      8|   8|         6|     68000|
|   103|Sneha|        IT| 68000| 2024-04-01|      9|   9|         7|     68000|
|   108|Manoj|     Sales| 52000| 2024-01-15|      1|   1|         1|     60000|
|   108|Manoj|     Sales| 52000| 2024-02-15|      2|   1|         1|     60000|
|   108|Manoj|     Sales| 52000| 2024-03-15|      3|   1|         1|     60000|
|   107|Arjun|     Sales| 53000| 2024-02-01|      4|   4|         2|     60000|
+------+-----+----------+------+-----------+-------+----+----------+----------+
only showing top 20 rows

> Same aggregates as `groupBy`, but **row-level output is preserved**.

---

### Analytical / Value Functions

In [58]:
from pyspark.sql.functions import lag, lead, first, last

company_df.withColumn("lag", lag("salary", 1).over(Window.partitionBy("department").orderBy("salary_date"))).show()

+------+-----+----------+------+-----------+-------+----+----------+-----+
|emp_id| name|department|salary|salary_date|row_num|rank|dense_rank|  lag|
+------+-----+----------+------+-----------+-------+----+----------+-----+
|   110|Rahul|   Finance| 70000| 2024-03-01|      1|   1|         1| NULL|
|   104|Kiran|        HR| 45000| 2024-01-01|      1|   1|         1| NULL|
|   105|Pooja|        HR| 48000| 2024-01-01|      3|   3|         3|45000|
|   104|Kiran|        HR| 46000| 2024-02-01|      2|   2|         2|48000|
|   106| Neha|        HR| 48000| 2024-02-01|      5|   3|         3|46000|
|   105|Pooja|        HR| 48000| 2024-03-01|      4|   3|         3|48000|
|   105|Pooja|        HR| 50000| 2024-04-01|      6|   6|         4|48000|
|   101| Amit|        IT| 60000| 2024-01-01|      2|   2|         2| NULL|
|   102| Ravi|        IT| 65000| 2024-01-15|      5|   5|         5|60000|
|   101| Amit|        IT| 62000| 2024-02-01|      4|   4|         4|65000|
|   103|Sneha|        IT| 65000| 2024-02-01|      7|   5|         5|62000|
|   102| Ravi|        IT| 65000| 2024-02-15|      6|   5|         5|65000|
|   103|Sneha|        IT|  NULL| 2024-03-01|      1|   1|         1|65000|
|   101| Amit|        IT| 61000| 2024-03-01|      3|   3|         3| NULL|
|   102| Ravi|        IT| 67000| 2024-03-15|      8|   8|         6|61000|
|   103|Sneha|        IT| 68000| 2024-04-01|      9|   9|         7|67000|
|   107|Arjun|     Sales| 55000| 2024-01-01|      5|   5|         3| NULL|
|   108|Manoj|     Sales| 52000| 2024-01-15|      1|   1|         1|55000|
|   107|Arjun|     Sales| 53000| 2024-02-01|      4|   4|         2|52000|
|   109|Divya|     Sales| 58000| 2024-02-01|      7|   7|         5|53000|
+------+-----+----------+------+-----------+-------+----+----------+-----+
only showing top 20 rows

In [59]:
company_df.withColumn("lead", lead("salary", 1).over(Window.partitionBy("department").orderBy("salary_date"))).show()

+------+-----+----------+------+-----------+-------+----+----------+-----+
|emp_id| name|department|salary|salary_date|row_num|rank|dense_rank| lead|
+------+-----+----------+------+-----------+-------+----+----------+-----+
|   110|Rahul|   Finance| 70000| 2024-03-01|      1|   1|         1| NULL|
|   104|Kiran|        HR| 45000| 2024-01-01|      1|   1|         1|48000|
|   105|Pooja|        HR| 48000| 2024-01-01|      3|   3|         3|46000|
|   104|Kiran|        HR| 46000| 2024-02-01|      2|   2|         2|48000|
|   106| Neha|        HR| 48000| 2024-02-01|      5|   3|         3|48000|
|   105|Pooja|        HR| 48000| 2024-03-01|      4|   3|         3|50000|
|   105|Pooja|        HR| 50000| 2024-04-01|      6|   6|         4| NULL|
|   101| Amit|        IT| 60000| 2024-01-01|      2|   2|         2|65000|
|   102| Ravi|        IT| 65000| 2024-01-15|      5|   5|         5|62000|
|   101| Amit|        IT| 62000| 2024-02-01|      4|   4|         4|65000|
|   103|Sneha|        IT| 65000| 2024-02-01|      7|   5|         5|65000|
|   102| Ravi|        IT| 65000| 2024-02-15|      6|   5|         5| NULL|
|   103|Sneha|        IT|  NULL| 2024-03-01|      1|   1|         1|61000|
|   101| Amit|        IT| 61000| 2024-03-01|      3|   3|         3|67000|
|   102| Ravi|        IT| 67000| 2024-03-15|      8|   8|         6|68000|
|   103|Sneha|        IT| 68000| 2024-04-01|      9|   9|         7| NULL|
|   107|Arjun|     Sales| 55000| 2024-01-01|      5|   5|         3|52000|
|   108|Manoj|     Sales| 52000| 2024-01-15|      1|   1|         1|53000|
|   107|Arjun|     Sales| 53000| 2024-02-01|      4|   4|         2|58000|
|   109|Divya|     Sales| 58000| 2024-02-01|      7|   7|         5|52000|
+------+-----+----------+------+-----------+-------+----+----------+-----+
only showing top 20 rows

In [61]:
company_df.withColumn("first", first("salary").over(Window.partitionBy("department").orderBy("salary_date"))).show()

+------+-----+----------+------+-----------+-------+----+----------+-----+
|emp_id| name|department|salary|salary_date|row_num|rank|dense_rank|first|
+------+-----+----------+------+-----------+-------+----+----------+-----+
|   110|Rahul|   Finance| 70000| 2024-03-01|      1|   1|         1|70000|
|   104|Kiran|        HR| 45000| 2024-01-01|      1|   1|         1|45000|
|   105|Pooja|        HR| 48000| 2024-01-01|      3|   3|         3|45000|
|   104|Kiran|        HR| 46000| 2024-02-01|      2|   2|         2|45000|
|   106| Neha|        HR| 48000| 2024-02-01|      5|   3|         3|45000|
|   105|Pooja|        HR| 48000| 2024-03-01|      4|   3|         3|45000|
|   105|Pooja|        HR| 50000| 2024-04-01|      6|   6|         4|45000|
|   101| Amit|        IT| 60000| 2024-01-01|      2|   2|         2|60000|
|   102| Ravi|        IT| 65000| 2024-01-15|      5|   5|         5|60000|
|   101| Amit|        IT| 62000| 2024-02-01|      4|   4|         4|60000|
|   103|Sneha|        IT| 65000| 2024-02-01|      7|   5|         5|60000|
|   102| Ravi|        IT| 65000| 2024-02-15|      6|   5|         5|60000|
|   103|Sneha|        IT|  NULL| 2024-03-01|      1|   1|         1|60000|
|   101| Amit|        IT| 61000| 2024-03-01|      3|   3|         3|60000|
|   102| Ravi|        IT| 67000| 2024-03-15|      8|   8|         6|60000|
|   103|Sneha|        IT| 68000| 2024-04-01|      9|   9|         7|60000|
|   107|Arjun|     Sales| 55000| 2024-01-01|      5|   5|         3|55000|
|   108|Manoj|     Sales| 52000| 2024-01-15|      1|   1|         1|55000|
|   107|Arjun|     Sales| 53000| 2024-02-01|      4|   4|         2|55000|
|   109|Divya|     Sales| 58000| 2024-02-01|      7|   7|         5|55000|
+------+-----+----------+------+-----------+-------+----+----------+-----+
only showing top 20 rows

In [64]:
company_df.withColumn("last", last("salary").over(Window.partitionBy("department").orderBy("salary_date"))).show()

+------+-----+----------+------+-----------+-------+----+----------+-----+
|emp_id| name|department|salary|salary_date|row_num|rank|dense_rank| last|
+------+-----+----------+------+-----------+-------+----+----------+-----+
|   110|Rahul|   Finance| 70000| 2024-03-01|      1|   1|         1|70000|
|   104|Kiran|        HR| 45000| 2024-01-01|      1|   1|         1|48000|
|   105|Pooja|        HR| 48000| 2024-01-01|      3|   3|         3|48000|
|   104|Kiran|        HR| 46000| 2024-02-01|      2|   2|         2|48000|
|   106| Neha|        HR| 48000| 2024-02-01|      5|   3|         3|48000|
|   105|Pooja|        HR| 48000| 2024-03-01|      4|   3|         3|48000|
|   105|Pooja|        HR| 50000| 2024-04-01|      6|   6|         4|50000|
|   101| Amit|        IT| 60000| 2024-01-01|      2|   2|         2|60000|
|   102| Ravi|        IT| 65000| 2024-01-15|      5|   5|         5|65000|
|   101| Amit|        IT| 62000| 2024-02-01|      4|   4|         4|65000|
|   103|Sneha|        IT| 65000| 2024-02-01|      7|   5|         5|65000|
|   102| Ravi|        IT| 65000| 2024-02-15|      6|   5|         5|65000|
|   103|Sneha|        IT|  NULL| 2024-03-01|      1|   1|         1|61000|
|   101| Amit|        IT| 61000| 2024-03-01|      3|   3|         3|61000|
|   102| Ravi|        IT| 67000| 2024-03-15|      8|   8|         6|67000|
|   103|Sneha|        IT| 68000| 2024-04-01|      9|   9|         7|68000|
|   107|Arjun|     Sales| 55000| 2024-01-01|      5|   5|         3|55000|
|   108|Manoj|     Sales| 52000| 2024-01-15|      1|   1|         1|52000|
|   107|Arjun|     Sales| 53000| 2024-02-01|      4|   4|         2|58000|
|   109|Divya|     Sales| 58000| 2024-02-01|      7|   7|         5|58000|
+------+-----+----------+------+-----------+-------+----+----------+-----+
only showing top 20 rows

Use `ignoreNulls=True` when needed:

---

## 3) Rows vs Range Frames (Very Important)

### Rows-based frame

In [67]:
win_spec = Window.orderBy("salary_date").rowsBetween(-2, 0)

* Counts **physical rows**
* Deterministic with strict ordering

### Range-based frame

In [ ]:
Window.orderBy("date").rangeBetween(-7, 0)

* Uses **value ranges**
* Multiple rows can share the same order key

> For time series with duplicate timestamps, **rowsBetween** is safer.

---

## 4) Practical Data Engineering Examples

### Latest Record per Key (De-duplication)

In [ ]:
w = Window.partitionBy("user_id").orderBy(col("updated_at").desc())

df.filter(row_number().over(w) == 1)

### Top-N per Group

In [ ]:
w = Window.partitionBy("category").orderBy(col("revenue").desc())

df.withColumn("r", dense_rank().over(w)) \
  .filter("r <= 3")

### Running Metrics (Finance / Logs)

In [ ]:
w = Window.partitionBy("account").orderBy("date") \
          .rowsBetween(Window.unboundedPreceding, Window.currentRow)

df.withColumn("balance", sum("amount").over(w))

---

## 5) Performance Notes (Critical for Interviews)

* Window functions **cause shuffles** if `partitionBy` changes data distribution
* Prefer **low-cardinality partitions**
* Avoid very wide frames on huge datasets
* Cache if the same window spec is reused
* Window ≠ groupBy: window keeps **N rows**, groupBy reduces to **K rows**

---

## Quick Mental Model

| Aspect         | groupBy | Window |
| -------------- | ------- | ------ |
| Rows preserved | ❌       | ✅      |
| Aggregation    | ✅       | ✅      |
| Ranking / Lag  | ❌       | ✅      |
| Shuffle        | Yes     | Yes    |

---

If you want, I can next:

* Deep-dive into **window execution internals (DAG + shuffle)**
* Compare **SQL window functions vs PySpark**
* Give **interview-grade window function questions**
* Optimize a **real dataset window query** you’re working on

In [75]:
import pathlib

filepath = pathlib.Path().cwd()

filepath

PosixPath('/content')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')